.account {
    margin: 0 auto;
}

.account .a-head {
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
}

.account .a-head::after {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #d9d9d9;
}

.account ul {
    position: relative;
}

.account ul .item {
    overflow: auto;
    padding: 10px 0;    
}

.account .p-img {
    display: block;
    float: left;
    width: 200px;
    min-height: 200px;
    margin-right: 15px;
    border: 1px solid #d9d9d9;
    cursor: pointer;
}

.account .p-container {
    float: left;
}

.account .item {
    padding: 5px 5px;
    border-bottom: 1px solid #d9d9d9;
}

.account .total-price {
    font-size: 18px;
    font-weight: bold;
}

.account .price, .account .p-cnt, .account .price, .account .trans-time {
    font-weight: bold;
}