.cart {
    margin: 0 auto;
}

.cart .c-head {
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
}

.cart .c-head::after {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #d9d9d9;
}


.cart ul .item {
    overflow: auto;
    padding: 10px 0;
}

.cart .p-img {
    display: block;
    float: left;
    width: 200px;
    min-height: 200px;
    margin-right: 15px;
    border: 1px solid #d9d9d9;
}

.cart .p-img:hover {
    cursor: pointer;
}

.p-container h4{
    font-weight: bold;
}

.abstract, .price {
    display: block;
}

.p-container .price {
    margin-top: 20px;
}

.cart .item {
    padding: 5px 5px;
    border-bottom: 1px solid #d9d9d9;
}

.cart .cart-total {
    margin-top: 10px;
    font-size: 18px;
    font-weight: bold;
}
