.login {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,20%);
    padding: 5%;
    font-size: 14px;
    letter-spacing: 2px;
}

.login .form-item {
    margin: 5% 0;
}

.login .form-item span {
    display: inline-block;
    width: 20%;
    text-align: right;
    margin-right: 3%;
}

.login .form-item input {
    display: inline-block;
    width: 60%;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 2px;
    padding: 2%;
}

.login .sub-btn {
    background-color: #dd2147;
    display: block;
    padding: 10px;
    font-size: 16px;
    border: 1px solid rgba(0,0,0,20%);
    border-radius: 5px;
    margin-left: 23%;
    width: 64%;
    color: white;
    cursor: pointer;
}

.login .sub-btn:hover {
    background-color: #bc1e40;
} 

.login .sub-btn:active {
    background-color: #d22147;
}
