
/* 撑开高度 */
.p-detail .wrapper {
    overflow: auto;
    margin-top: 20px;
}

.p-detail .img-container{
    float: left;
    width: 280px;
    border: 1px solid #d9d9d9;
    margin-right: 30px;
}

.p-detail .img-container img {
    width: 280px;
    height: 280px;
}

.p-detail .cnt {
    float: left;
}

.p-detail .cnt h2 {
    font-size: 20px;
}

.p-detail .cnt .abstract {
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

.p-detail .price {
    margin-top: 5%;
}

.p-detail .price .unit {
    color: #999;
}

.p-detail .price .value {
    margin-left: 2%;
    color: #dd2147;
    font-size: 18px;
    font-weight: bold;
}

.p-detail .num {
    margin-top: 5%;
}

.p-detail .full-desc {
    clear: both;
    margin-top: 20px;
}

.p-detail .desc-title {
    position: relative;
    padding-bottom: 1%;
}

.p-detail .desc-title::after {
    content: "";
    width: 100%;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #d9d9d9;
}

.p-detail .detail {
    margin-top: 20px;
}

.p-detail .detail pre {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.p-detail .option {
    margin-top: 10px;
}

.p-detail .old-price {
    margin-top: 10px;
}

.p-detail .bought {
    font-size: 16px;
    font-weight: bold;
    display: block;
    margin-bottom: 2px;
}

.p-detail .old-price ul {
    padding-left: 20px;
}

.p-detail .old-price li {
    list-style: circle;
}


