.p-container {
    /* margin: 0px 60px; */
    /* padding: 10px 0; */
    margin-top: 20px;
    font-size: 14px;
}

.tab {
    position: relative;
}

.tab::after {
    display: block;
    width: 100%;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #d9d9d9;
    clear: both;
}

.tab ul {
    display: block;
    overflow: hidden;
}

.tab .sel {
    display: block;
    padding: 10px 12px;
    float: left;
    font-size: 16px;
    cursor: pointer;
}

.tab .sel.active {
    border: 1px solid #d9d9d9;
    border-bottom: 0px;
    border-radius: 5px;
}

.p-list ul {
    display: block;
    overflow: hidden;
}

.p-list li {
    display: block;
    float: left;
    position: relative;
    width: 16%;
    margin-right: 4%;
    margin-top: 10px;
    font-size: 14px;
    padding-bottom: 10px;
}

.p-list li .img {
    position: relative;
    width: 100%;
    padding-bottom: 100%;
}

.p-list li img {
    /* display: block; */
    width: 100%;
    height: 100%;
    position: absolute;
}

.p-list h3 {
    margin-bottom: 0;
}

.p-list h3, .p-list .price {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

 
.p-list .had {
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 0;
    border-style: solid;
    border-width: 22px;
    border-color: #aaa transparent transparent #aaa;
    border-top-left-radius: 2px;
}

.p-list .had b {
    position: absolute;
    top: -12px;
    left: -25px;
    width: 40px;
    text-align: center;
    white-space: nowrap;
    line-height: 14px;
    font-size: 12px;
    transform: rotate(-45deg);
    color: #eee;
}

.p-list .link {
    color: blue;
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    background-color: white;
}

.p-list .link:hover {
    cursor: pointer;
    /* border: solid 1px #aaa; */
    box-shadow: 0 1px 4px rgba(0, 0, 0, 10%);
}

.p-list button.ant-btn.ant-btn-primary {
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}