.p-pub .head {
    position: relative;
    padding-top: 20px;
    padding-bottom: 5px;
}

.p-pub .head::after {
    display: block;
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    border-bottom: 1px solid #d9d9d9;
}

.p-pub form {
    margin-top: 2%;
}

.p-pub .edit-item {
    font-size: 16px;
    margin-bottom: 2%;
}

.p-pub .edit-item .inp-url,  .p-pub .edit-item .inp-file{
    display: inline;
    margin-right: 10px;
}

.p-pub .edit-item .desc {
    vertical-align: top;
}

.p-pub .edit-item .price {
    width: 20%;
}

.p-pub .hint {
    color: #e00;
}