body {
    background-color: #f3f3f3;
}

.main {
    width: 100%;
}

header.ant-layout-header {
    background-color: #d22147;
    padding: 0;
    padding: 0 8%;
}

main.ant-layout-content {
    padding: 0 8%;
}

.header {
    /* background-color: #d22147; */
    /* padding: 10px 60px;
    margin-bottom: 20px;
    line-height: 30px; */
    width: 100%; 
    height: 100%;
    margin: 0 auto;
    font-size: 16px;
    font-weight: 400;
    color: white;
    overflow: hidden;
}



.header .user {
    float: left;
}

.header a {
    color: white;
}

.header .nav {
    float: right;
}

.header .nav li {
    display: inline-block;
}

.header .nav a {
    display: block;
    padding: 0 15px;
    border-radius: 2px;
    transition: backgroud-color 0.2;
}

.header .nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}


h2 {
    margin-bottom: 0;
}

/* 通用样式 */
.unit {
    padding-right: 5px;
    color: #999;
}

.value {
    font-size: 20px;
    font-weight: bold;
    color: #d22147;
}