.main {
    width: 100%;
}

.header {
    background-color: #d22147;
    padding: 10px 60px;
    margin-bottom: 20px;
    line-height: 30px;
    font-size: 16px;
    font-weight: 400;
    color: white;
    overflow: hidden;
}

.header .user {
    float: left;
}

.header a {
    color: white;
}

.header .nav {
    float: right;
}

.header .nav li {
    display: inline-block;
}

.header .nav a {
    display: block;
    padding: 0 15px;
    border-radius: 2px;
    transition: backgroud-color 0.2;
}

.header .nav a:hover {
    background-color: rgba(0, 0, 0, 0.1);
}