/* css reset */
* {
  margin : 0;
  padding: 0;
}

body {
  background: #f6f6f6;
  font: 12px/1.5 tahoma, arial, Microsoft Yahei, sans-serif;  /* 行间距1.5倍 */
}
li {
  list-style: none;
}
img {
  display: block;
  border: none;
}
label {
  cursor: pointer;
}
input[type='checkbox'] {
  cursor: pointer;
}

a {
  text-decoration: none;
}
